
# OS
.DS_Store

# Python
__pycache__/
*.pyc
.venv/
.env

# Jupyter
.ipynb_checkpoints/

# Data
data/raw/
data/processed/*.parquet
data/processed/*.feather
data/processed/*.gpkg
*.zip

# Maps/figures (optional to ignore working outputs)
maps/*.html

# VS Code
.vscode/
